@import '../../styles/colors';

.self {
  position: relative;
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
  border: 1px solid $alto;
  background-color: $white;

  $initial_menu_height: 2px;
  $menu_height: 30px;

  &.leaderboard {
    width: 728px;
    height: 90px;
  }

  &.rectangle {
    width: 300px;
    height: 250px;
  }

  .container {
    width: calc(100% - 20px);
    height: 100%;
    padding: 0 10px 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    transition: all 0.2s ease;
  }

  .info {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    .icon {
      width: 32px;
    }
  }

  .options {
    position: absolute;
    top: 0;
    width: 100%;
    height: $menu_height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    
    &.open {
      z-index: 1;
      background-color: $alto;
      box-shadow: inset 0px 5px 25px 0px rgba(19,38,110,0.08);
    }
  }

  .probability {
    min-width: 3em;
    text-align: center;
  }

  .arrows {
    position: absolute;
    left: 0;
    display: flex;
    color: $dusty-gray;
    transform: scale(0.75);

    .arrow {
      padding: 0;
      cursor: pointer;

      &.left {
        padding-right: 0.5em;
      }

      &.right {
        padding-left: 0.5em;
      }

      &:hover {
        color: $tuna;
      }
    }
  }
}
