@import '../../styles/colors';

.self {
  position: relative;
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
  border: 1px solid $alto;

  $initial_menu_height: 2px;
  $menu_height: 30px;

  &.leaderboard {
    width: 728px;
    height: 90px;
  }

  &.rectangle {
    width: 300px;
    height: 250px;
  }

  .container {
    min-width: 100%;
    min-height: calc(100% - #{$initial_menu_height});
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: $white;
    transition: all 0.2s ease;
  }

  .info {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    .icon {
      width: 32px;
    }
  }

  .options.open+.container {
    transform: translateY(-$menu_height + $initial_menu_height);
  }

  .options {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $menu_height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $alto;
    box-shadow: inset 0px 5px 25px 0px rgba(19,38,110,0.08);

  }

  .arrows {
    display: flex;
    cursor: pointer;
    color: $dusty-gray;
    margin-left:20px;
    transform: scale(0.75);
  }
}
