.self {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: linear-gradient(transparent, #2d2d2d, black);
  color: white;
  font-weight: bold;
  padding: 0.5em;
  min-height: 5.4em;

  .title {
    font-size: 1.4em;
    margin: 0;
  }

  .target {
    display: inline-flex;
    padding: 0.1em 0.5em;
    color: black;
    background-color: white;
    border-radius: 1em;
    font-family: monospace;
  }

  .title + .target {
    margin-top: 0.5em;
  }

  .token {
    margin-left: auto;
    align-self: center;
    flex-shrink: 0;
  }

  .tokenSymbol {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
    font-size: 1.5em;
    font-family: monospace;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    background-color: white;
    color: black;
  }
}
