@import '~@userfeeds/apps-components/styles/colors';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
  all: initial;
  font-family: 'PT Sans', sans-serif;
  background-color: $aqua-haze;
}
