.button {
  height: 100%;
  cursor: pointer;
  opacity: 1 !important;

  &:not([disabled]):hover {
    background-color: #f6b47f;
  }

  &:disabled {
    background-color: #f6dcc9;
  }
}

.metamask {
  width: 16px;
  height: auto;
}