@import '../../../styles/colors';

.self {
  padding-top: 20px;
  min-height: 100%;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ban {
    display: block;
    font-size: 4em;
    color: rgba($red, 0.5);
  }

  .info {
    font-weight: 700;
    color: rgba($black, 0.5);
  }
}