@import '../../../styles/colors';

.self {
  list-style: none;
  min-width: 200px;
  max-width:250px;

  li {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  & > li.active {
    color: $dodger-blue;
    font-size:22px;
  }

  & > li:hover {
    cursor: pointer;
    color:$dodger-blue;
  }
}

.sub-menu {
  list-style: none;
  font-weight: normal;
  color: $black;
  padding-left:10px;
  
  & > li:hover {
    color:$dodger-blue;
  }

  & > li.active {
    color: $dodger-blue;
   font-size:22px;
  }
}