@import '../../../styles/colors';

.self {
  padding: 10px;
  position: relative;
  box-shadow: 0px 1px 5px 0px $dusty-gray;

  .boxes {
    margin-top: 20px;
    border-top: 2px solid $alto;

    &>.box {
      flex: 1;
      border-right: 2px solid $alto;
    }

    &>.box:last-child {
      border: none;
    }
  }
}