@import '../../../styles/colors';

.self {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  min-height: 150px;
  box-shadow: 0px 5px 20px 0px $shadow;

  .boxes {
    margin-top: 20px;
    border-top: 1px solid $alto;

    &>.box {
      flex: 1;
      border-right: 1px solid $alto;
    }

    &>.box:last-child {
      border: none;
    }
  }

  .logo {
    height: 3em;
  }

  .open-in-new-window {
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    height:30px;
    padding:5px 15px;
    color: $dusty-gray;
    background-color: $white;
    border-radius: 3px;
    border: 1px solid $alto;

    &:hover {
      border-color: $dusty-gray;
    }
  }
}