@import '~@linkexchange/components/styles/colors';

.self {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;

  .details {
    display: flex;
    flex: 1;
    min-height: 0;
    background-color: $aqua-haze;
    border-radius: 3px;
  }

  .sideMenu {
    flex-basis: 200px;
    min-width: 200px;
  }
}
