.self {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background-color: #fff;
}

.Header {
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.Header-Right {
  margin-left: auto;
}

.Title {
  color: #1b2437;
  font-family: 'PT Sans';
  font-size: 22px;
  font-weight: bold;
}

.Body {
  padding: 20px 40px;
}

.Footer {
  padding: 10px 40px;
}