.Wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Header {
  display: flex;
  align-items: baseline;
}

.Size {
  margin-left: 10px;
}

.Figure {
  border: 1px solid #d9e0e7;
  margin-top: 12px;
  padding: 5px;
  border-radius: 3px;

  &:before,
  &:after {
    height: 10px;
    background-color: #d9e0e7;
    border-radius: 1px;
    display: block;
  }
}

.LeaderboardFigure {
  width: 180px;
  height: 22px;

  &:before {
    content: '';
    width: 70%;
  }
}

.RectangleFigure {
  width: 60px;
  height: 50px;
  display: flex;
  flex-direction: column;

  &:before {
    content: '';
    margin-top: auto;
    width: 100%;
  }

  &:after {
    content: '';
    margin-top: 2px;
    width: 80%;
  }
}
