.ad-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.row {
  display: flex;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.header {
  justify-content: space-between;
}

.footer {
  align-items: flex-end;
  justify-content: space-between;
}

.probability {

}
