.self {
  border: none;
  outline: none;
  background-color: #325DFF;
  border-radius: 0.5em;
  transition: 0.3s;
  font-size: 1em;
  color: #fff;

  &:not([disabled]):hover {
    cursor: pointer;
    background-color: #325DFF;
  }

  &:active {
    background-color: #325DFF;
  }
}
