@import '../styles/colors';

.self {
  border: none;
  outline: none;
  background-color: $dodger-blue;
  border-radius: 0.5em;
  transition: 0.3s;
  font-size: 1em;
  color: $white;

  &:not([disabled]):hover {
    cursor: pointer;
    background-color: $dodger-blue;
  }

  &:active {
    background-color: $dodger-blue;
  }
}
