@import '../styles/colors';

.self {
  display: flex;
  flex-direction: column;
  min-width: 75%;
  font-weight: 300;

  &.clickable {
    cursor: pointer;
  }

  .title {
    color: $dodger-blue;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 1.2em;
  }

  .header {
    justify-content: space-between;
  }

  .summary {
    color: $emperor;
  }

  .footer {
    align-items: flex-end;
    justify-content: space-between;
  }

  .link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $camarone;
    font-size: 0.8em;

    &:link {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }
  }
}
