@import '../styles/colors';

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;

  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $bgColor;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background-color: $bgColor;
  }
}

.self {
  display: flex;
  flex-direction: column;
  min-width: 75%;
  font-weight: 300;

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $dodger-blue;
    font-weight: 700;
    font-size: 1.2em;
  }

  .header {
    justify-content: space-between;
  }

  .summary {
    color: $emperor;

    &.lines2 {
      @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);
    }

    &.lines8 {
      @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 8, $bgColor: white);
    }
  }

  .footer {
    align-items: flex-end;
    justify-content: space-between;
  }

  .link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $camarone;
    font-size: 0.8em;
    flex-shrink: 0;
    outline: none;

    &:link {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }
  }
}
