.self {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 75%;
  flex-grow: 1;
  font-weight:300;

  .title {
    font-weight: 700;
    font-size: 15px;
  }

  .header {
    justify-content: space-between;
  }

  .footer {
    align-items: flex-end;
    justify-content: space-between;
  }

  .probability {
    white-space: nowrap;
  }

  .link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:link {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }
  }
}
