.this {
  margin: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  font-size: 1em;
  border-radius: 99999px;
  background-color: #72CA9A;
  color: #fff;

  *:hover > &.reverse-on-hover {
    color: #72CA9A;
    background-color: #fff;
  }

  &::after {
    content: "+";
  }
}
