@import '~@linkexchange/components/styles/colors';

.self {
  position: relative;
  display: inline;
  font-weight: normal;

  .boost-button {
    padding: 0 5px 0 5px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .form {
    position: fixed;
    overflow: hidden;
    min-width: 280px;
    min-height: 330px;
    z-index: 4;
    border-radius: 8px;
    transition: opacity 0.2s;
    box-shadow: 0px 10px 60px rgba(27, 36, 55, 0.3);
    background-color: $white;
  }

  .slide-container {
    display: flex;
    flex-direction: column;
  }
}
