.self {
  position: absolute;
  right: 80px;
  top: 10px;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(9, 213, 124);

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(9,213,124,0.45);
    transform: translateY(-1px);
  }
}