.self {
  width: 980px;
  display: flex;
  flex-direction: row;

  .left {
    background-color: #F5F7FA;
    width: 437px;
    padding: 30px;

    .header {
      height: 30px;
      color: #1B2437;
      font-size: 22px;
      line-height: 30px;
    }

    .close {
      margin-top: 6px;
      cursor: pointer;
      height: 14px;
      width: 87px;
      color: #263FFF;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 15px;
    }

    .video {
      margin-top: 50px;
      width: 560px;
      height: 315px;
    }

    .watch-on-yt {
      cursor: pointer;
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      width: 212px;
      border-radius: 3px;
      box-shadow: 0 5px 15px 0 rgba(27,36,55,0.09);
      background-color: #ffffff;
      color: #1B2437;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 15px;
    }

    .yt {
      height: 12px;
      width: auto;
      margin-right: 15px;
    }
  }

  .right {
    flex: 1;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .section {
      color: #1B2437;
      font-size: 22px;
      margin-bottom: 30px;

      .description {
        margin-top: 10px;
        color: #A6AEB8;
        font-size: 14px;

        .time {
          text-decoration: none;
          display: block;
          color: #263FFF;
          font-weight: bold;
        }
      }
    }
  }
}