.self {
  width: 460px;
  position: relative;

  .avatar {
    position: absolute;
    overflow: hidden;
    width: 100px;
    border-radius: 100px;
    top: calc(-100px / 2);
    left: calc(50% - 100px / 2);

    img {
      width: inherit;
    }
  }

  .head {
    height: 110px;
    padding: 50px 50px 0px 50px;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e3e7ed;
  }

  .welcome {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 10px;
  }

  .sub-welcome {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  .body {
    height: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blocks-till-conclusion {
    align-self: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0px;
  }
}
