@import '~@linkexchange/components/styles/colors';

.self {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;

  @media screen and (max-width: 1200px) {
    width: 98vw;
    height: 98vh;
  }

  .details {
    display: flex;
    flex: 1;
    min-height: 0;
    background-color: $aqua-haze;
    border-radius: 3px;
  }

  .sideMenu {
    flex-basis: 200px;
    min-width: 200px;
  }
}
