@import '../styles/colors';

.self {
  flex: 1;

  .header {
    display: flex;
    flex-direction: row;
  }

  .arrow {
    display: inline-block;
    margin-left: auto;
    align-self: flex-end;
  }

  .content {

  }
}