@import '../styles/colors';

.self {
  font-size: 15px;
  text-align: left;
  font-family:'PT Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dusty-gray;
}
