.LonelyBlock {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 15px;

  .Block {
    width: 50px;
    height: 50px;
    background: #263fff;
    animation: blockAnimation 1s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;

    @keyframes blockAnimation {
      17% {
        border-bottom-right-radius: 3px;
      }
      25% {
        transform: translateY(9px) rotate(22.5deg);
      }
      50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px;
      }
      75% {
        transform: translateY(9px) rotate(67.5deg);
      }
      100% {
        transform: translateY(0) rotate(90deg);
      }
    }
  }

  .Shadow {
    width: 50px;
    height: 5px;
    background: #e9ebff;
    opacity: 1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadowAnimation 1s linear infinite;

    @keyframes shadowAnimation {
      50% {
        transform: scale(1.2, 1);
      }
    }
  }
}
