@import '../styles/colors';

.self {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483647; // max possible value
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.85);

  & > .content {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 0 30px 80px $shadow-modal;

    @media screen and (max-width: 1200px) {
      overflow-y: scroll;
    }
  }
}
