@import '../styles/colors';

.Button {
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 3px;

  &.medium {
    padding: 12px 20px;
  }

  &.small {
    padding: 2px 20px;
    font-weight: normal;

    .ButtonIcon {
      margin-right: 5px;
    }

    @media screen and (max-width: 800px) {
      padding: 8px;

      .ButtonIcon {
        margin-right: 0;
      }

      .Children {
        display: none;
      }
    }
  }

  &:disabled {
    background-color: $dusty-gray;
    opacity: 0.4;
    cursor: not-allowed;
    color: $white;
  }

  &.primary {
    background-color: $dodger-blue;
    color: $white;

    &:active {
      background-color: $dodger-blue;
    }

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      cursor: pointer;
      color: $white;
      background-color: $dodger-blue;
      box-shadow: 0px 5px 15px $shadow-button;
      transform: translateY(-1px);
    }
  }

  &.success,
  &.ready {
    background-color: rgba(9, 213, 124, 0.2);
    color: #07bb6c;
    font-weight: bold;
  }

  &.ready {
    &:not([disabled]):hover,
    &:not([disabled]):focus {
      color: white;
      background-color: rgba(9, 213, 124, 0.6);
    }
  }

  &.metaPending {
    background-color: rgba(247, 134, 28, 0.6);
    color: white;
    font-weight: bold;
  }

  &.pending {
    background-color: #fefcdd;
    color: #dfd22e;
    font-weight: bold;
  }

  &.error {
    background-color: rgba(251, 11, 34, 0.6);
    color: white;
    font-weight: bold;
  }

  &.outline {
    border: 1px solid #d9e0e7;
    background: none;
    color: #89939f;
    box-shadow: none;

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-color: #89939f;
      color: white;
    }
  }

  .ButtonIcon {
    display: inline-block;
    font-size: 8px;
  }

  .ButtonIcon + .Children {
    margin-left: 10px;
  }
}

.ButtonInnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
