@import '../styles/colors';

.self {
  padding: 1em;

  .text {
    margin-top: 5px;
    font-size: 15px;
    color: $black;
    text-align: left;
    overflow: hidden;
    word-wrap: nowrap;
    text-overflow: ellipsis;
  }
}
