.self {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .foxoader {
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
      height: 110px;
      width: 110px;
      border-radius: 110px;
      border: 3px solid #ffe7cd;
      border-bottom: 3px solid #ffffff;
      animation: rotate 2s linear infinite;
    }

    .fox {
      position: absolute;
      height: 56px;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .body {
    text-align: center;
    font-size: 18px;
    padding: 20px 40px;
  }
}
