.this {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .paper {
    min-width: 800px;
    padding: 10px;
  }

  .input {
    width: 100%!important;
  }
}
