.this {
  width: 100vw;
  display: flex;
  justify-content: center;

  .paper {
    min-width: 80vw;
    padding: 10px;

    @media screen and (max-width: 900px) {
      width: 100vw;
    }
  }

  .content {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }

  .header {
    display: flex;
    border-bottom: 1px solid #999;
  }

  .details {
    max-width: 200px;
    border: none;
    border-right: 1px solid #999;

    @media screen and (max-width: 900px) {
      border: none;
      border-bottom: 1px solid #999;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
    }
  }
}

.loader {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
