.probability {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;

  .value {
    font-size: 32px;

    &.disabled {
      color: #a6aeb8;
    }

    &::after {
      content: '%';
      padding-left: 3.5px;
      font-size: 16px;
      color: #a6aeb8;
    }
  }
}

.to-add {
  width: 200px;
  flex-grow: 1;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .value {
    cursor: pointer;
    font-weight: bold;
    color: #263fff;
  }
}

.slider {
  padding: 0 30px;
}

.footer {
  margin-top: auto;
  height: 90px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #4156f3 0%, #263fff 100%);
  clip-path: polygon(0 0%, 46% 0%, 54% 10%, 100% 10%, 100% 100%, 0 100%);

  &.has-insufficient-funds {
    background: #fdba4f;

    .input-button-container {
      .to-pay {
        background-color: #edad48;
      }
    }
  }

  &.error {
    background: #fd4f4f;

    .input-button-container {
      .to-pay {
        background-color: #ed5b48;
      }
    }
  }

  .input-button-container {
    display: flex;
    width: 100%;

    .to-pay {
      position: relative;
      overflow: hidden;
      padding-left: 5px;
      border-radius: 8px 0px 0px 8px;
      height: 50px;
      text-align: center;
      background-color: #2538cf;
      font-size: 24px;
      color: #ffffff;
    }

    .next {
      min-width: 50px;
      max-width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 8px 8px 0;
      background-color: #ffe7cd;
      color: #ffffff;
      text-align: center;

      &:not(.disabled):hover,
      &:not(.disabled):focus {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(129, 71, 24, 0.45);
        transform: translateY(-1px);
      }

      &.disabled {
        cursor: not-allowed;
      }

      .fox {
        width: 22px;
      }

      .icon {
        font-size: 14px;
      }
    }
  }

  .error {
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
  }
}
