.insufficient-funds-container {
  position: relative;

  .insufficient-funds {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #f58627;
  }
}

.probability {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;

  .value {
    font-size: 32px;
    &.disabled {
      color: #a6aeb8;
    }
  }

  .percent {
    color: #a6aeb8;
    font-size: 16px;
  }
}

.to-add {
  width: 200px;
  flex-grow: 1;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .value {
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px dashed #263fff;
  }
}

.not-in-slots {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .probability {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }
}

.slider {
  padding: 0 30px;
}

.footer {
  margin-top: auto;
  height: 90px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #4156f3 0%, #263fff 100%);
  clip-path: polygon(0 0%, 46% 0%, 54% 10%, 100% 10%, 100% 100%, 0 100%);

  &.has-insufficient-funds {
    background: #fdba4f;

    .to-pay {
      .input {
        background-color: #edad48;
      }
    }
  }

  .to-pay {
    position: relative;
    overflow: hidden;

    .input {
      width: 100%;
      padding-left: 5px;
      border-radius: 8px 0px 0px 8px;
      height: 45px;
      text-align: center;
      background-color: #2538cf;
      font-size: 24px;
      color: #ffffff;
    }

    .error {
      position: absolute;
      top: 45px;
      left: 4px;
      color: #ff0000;
      font-size: 15px;
    }
  }

  .next {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 8px 8px 0;
    background-color: #ffe7cd;

    &:not(.disabled):hover,
    &:not(.disabled):focus {
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(129, 71, 24, 0.45);
      transform: translateY(-1px);
    }

    &.disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    .fox {
      width: 22px;
    }
  }
}
