.body {
  flex: 1;
  padding: 15px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 110px;
  position: relative;
  background-color: #FFE7CD;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    height: 77px;
    width: 77px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-bottom: none;
    animation: rotate 2s linear infinite;
  }

  .fox {
    position: absolute;
    height: 40px;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}