@import '~@linkexchange/components/styles/colors';

.self {

  .linkRow {
    margin-top: 10px;
  }

  .linkProperties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .load-more {
    text-align: center;
    font-weight: bold;
    color: $dodger-blue;
    text-decoration: underline;
  }
}