.this {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 90px;

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  .header {
    justify-content: space-between;
  }

  .footer {
    align-items: flex-end;
    justify-content: space-between;
  }

  .probability {
    white-space: nowrap;
  }

  .link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:link {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }
  }
}
