@import '../../styles/colors';

.self {
  width: 70vw;
  height: 80vh;
  max-width:1280px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;

  .details {
    display: flex;
    flex: 1;
    min-height: 0; // For lovely firefox
    background-color: $aqua-haze;
    border-radius: 3px;
  }
}