.self {
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;

  .title {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    flex-shrink: 0;
    padding-bottom: 10px;
  }

  &:hover .title {
    color: #263fff;
  }

  .summary {
    color: #000000;
    font-size: 16px;
    overflow: hidden;
  }

  .target {
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #263fff;
  }
}
