@import '~@linkexchange/components/styles/colors';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

.root {
  all: initial;
  font-family: 'PT Sans', sans-serif;

  ::selection {
    color: $white;
    background: $dodger-blue;
  }
}
