$black: rgb(27,36,55);
$white: rgb(255, 255, 255);
$red: rgb(255, 0, 0);
$green: rgb(9, 213, 124);

$tuna: rgb(50, 52, 57);

$silver-chalice: rgb(170, 170, 170);

$emperor: rgb(84, 84, 84);
$camarone: rgb(0, 102, 33);

/* Labels, paragraphs */ 
$dusty-gray: rgb(137, 147, 159);

/* Background for details */
$aqua-haze: rgb(245, 247, 250);

/* Borders */ 
$alto: rgb(238, 241, 242);

/* Main blue, buttons links */
$dodger-blue: rgb(38, 63, 255);
/* Light blue */
$light-blue:rgb(207,217,250);

/* Shadow */
$shadow: rgba(19,38,110,0.08);

/* Shadow-Modal */
$shadow-modal: rgba(27,36,55,0.8);

/* Blue button shadow */
$shadow-button: rgba(50,93,255,0.45);

/* Shadow for SecondaryButton */
$shadow-secondary: rgba(184,188,206,0.5);

/* Light text */
$light-gray: #A6AEB8;