@import '~@userfeeds/apps-components/styles/colors';

.soon {
  font-size: 0.8em;
  font-weight: bold;
  border: 1px solid $silver-chalice;
  border-radius: 2em;
  padding: 0.5em 1em 0.5em 1em;
}

.widget-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .type-icon {
    color: $dusty-gray;
    font-size: 2em;
  }
}