@import '~@userfeeds/apps-components/styles/colors';

@-webkit-keyframes waiting {
  0%   { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }

}

.self {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top:30px;

  @media screen and (max-width: 1200px) {
    flex-direction: row;
  }

  .progress-cotainer {
    position: relative;
  }

  .progress {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 20px;
    z-index: 1;
    width: 100%;
    height: 12px;
    border-radius: 1em;
    background-color: $alto;

    @media screen and (max-width: 1200px) {
      width: 1em;
      height: 100%;
      top: 0;
      left: 20px;
    }

    .progressFill {
      transition: max-width 1s ease-in;
      background-color: $green;

      @media screen and (max-width: 1200px) {
        transition: max-height 1s ease-in;
      }
    }
  }

  .steps-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  .step {
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-top: calc(20px + 0.5em - 1.5em);

    @media screen and (max-width: 1200px) {
      flex-direction: row;
      margin-top: 0;
      margin-left: calc(20px + 0.5em - 1.5em);
    }

    &.disabled {
      opacity: 1;
      cursor: not-allowed;
    }

    &.notstarted {
      opacity: 0.5;
    }

    &.waiting {
      opacity: 0.5;
      animation: waiting 1s ease-in-out infinite;
    }

    &.done .icon, &.done path {
      color: $white;
      fill: white;
      background-color: $green;
    }

    .icon {
      align-self: center;
      width: 3em;
      height: 3em;
      background-color: $alto;
      border-radius: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (max-width: 1200px) {
        align-items: flex-start;
        padding-left: 20px;
      }
    }
  }

  .icon {
    font-size: 1em;
  }
}