@import '~@userfeeds/apps-components/styles/colors';

.self {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .paper {
    min-width: 400px;
    max-width:600px;
    padding: 50px;
  }
}
