@import '../styles/colors';

.root {
  @import './flex';

  all: initial;

  * {
    transition: all 200ms ease-in-out;
  }

  ::selection {
    color: $white;
    background: $dodger-blue;
  }

  h1, h2, h3, h4, p, a, span, img {
    /* no important */
    all: unset;
  }

  div, table, ul, li, thead, tbody, th, tr, td {
    /* no important */
    background: unset;
  }

  h1, h2, h3, h4, p {
    display: block;
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h2 {
    font-size: 22px;
    font-weight: 300;
    color: $black;
  }

  p {
    font-size: 15px;
    color: $dusty-gray;
  }
}