@import '~@userfeeds/apps-components/styles/colors';
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

.root {
  @import './flex';

  all: initial;

  * {
    transition: all 200ms ease-in-out;
  }

  ::selection {
    color: $white;
    background: $dodger-blue;
  }

  h1, h2, h3, h4, p, a, button, input, span, img, div, ul, li, table, thead, tbody, th, tr, td {
    /* no important */
    all: unset;
  }

  div {
    /* no important */
    display: block;
  }

  ul, li {
    /* no important */
    display: block;
    list-style-type: disc;
  }

  table {
    /* no important */
    display: table;
    border-collapse: separate;
  }

  thead {
    /* no important */
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tbody {
    /* no important */
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tr {
    /* no important */
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  th {
    /* no important */
    font-weight: bold;
    vertical-align: inherit;
    display: table-cell;
  }

  td {
    /* no important */
    vertical-align: top;
    display: table-cell;
  }

  h1, h2, h3, h4, p, button {
    display: block;
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h2 {
    font-size: 22px;
    font-weight: 300;
    color: $black;
  }

  p {
    font-size: 15px;
    color: $dusty-gray;
  }

  a {
    cursor: pointer;
  }
}