$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$alto: rgb(215, 215, 215);
$tuna: rgb(50, 52, 57);
$dodger-blue: rgb(50, 93, 255);
$aqua-haze: rgb(243, 246, 248);
$silver-chalice: rgb(170, 170, 170);
$dusty-gray: rgb(153, 153, 153);
