.self {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-start;

  .block-info {
    color: #a6aeb8;
    font-size: 14px;
    font-weight: normal;
  }

  .progress-bar {
    height: 7px;
    margin-top: 10px;
    background-color: #e9ebff;
  }
}
