.Field {
  display: flex;
  flex-direction: column;
  & + .Field {
    margin-top: 30px;
  }
}

.Header {
  font-size: 12px;
  font-family: 'PT Sans';
}

.Description {
  font-size: 14px;
  color: #586881;
}

.Error {
  color: red;
}

.InputGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .Input {
    margin-top: 20px;
  }
}

.Header + .Description {
  margin-top: 5px;
}

.Description + .Input {
  margin-top: 10px;
  max-width: 100%;
  min-width: 100%;
}

.Header + .Input {
  margin-top: 5px;
}

.Input + .Error {
  margin-top: 5px;
}

.Description + .InputGroup,
.Header + .InputGroup {
  margin-top: -10px;
}
