$error: #fc0035;
$focus: #263fff;
$default: #d9e0e7;
$text-color: #1B2437;
$inner-shadow: rgba(27,36,55,0.15);
$input-background: #f5f7fa;

.InputContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  border: 1px solid $default;
  border-radius: 5px;

  &.focus {
    border-color: $focus;
  }

  &.hasError {
    border-color: $error;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.Input {
  box-sizing: border-box;
  flex: 1 0 auto;
  padding: 15px 20px;
  line-height: 1.5em;
  font-size: 16px;
  font-family: 'PT Sans';
  background-color: $input-background;
  border: none;
  border-radius: 5px;
  color: $text-color;
  box-shadow: inset 0 2px 3px 0 $inner-shadow;

  &.hasError {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.hasAppend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:focus {
    outline: none;
  }
}

.Error {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 20px;
  text-align: center;
  border-radius: 0 0 8px 8px;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  font-family: 'PT Sans';
  color: #fff;
  background-color: $error;
}

.Appended {
  height: calc(27px + 1.5em);
  flex: 0 0 auto;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
