@import '../../../styles/colors';

.self {
  
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
  }

  .menu {
    position: fixed;
    z-index: 3;
    background-color: $white;
    border: 1px solid $alto;
    box-shadow: 1px 1px 1px 0px rgba($black, 0.2);
  }

  .menu-item {
    padding: 10px;
    cursor: pointer;
  }

  .menu-item:hover {
    background-color: rgba($silver-chalice, .5);
  }
}
