@import '../../../styles/colors';

.self {
  
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
  }

  .menu {
    position: fixed;
    z-index: 3;
    border-radius:3px;
    padding:10px;
    background-color: $white;
    border: 1px solid $alto;
    box-shadow: 0px 5px 25px 0px $shadow;
  }

  .menu-item {
    padding: 20px;
    cursor: pointer;
  }

  .know-more{
    outline:0;
    color:$dodger-blue;
    background-color:transparent;
    margin-right:20px;
    font-size:11px;
    letter-spacing:1px;
    text-transform:uppercase;
    font-weight:700;
    border:0;
    margin-bottom:3px;
  }


  .menu-item:hover {
    background-color: $alto;
  }
}
