.ad-details {
  border: 1px solid #999;
  border-top: none;
  border-right: none;
  padding: 10px;
}

.ad-details .footer {
  display: flex;
  justify-content: space-between;
}

.ad-details .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ad-preview {
  padding: 10px;
}
