.self {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px solid #D7D7D7;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);

  &.leaderboard {
    width: 728px;
    height: 90px;
  }

  &.rectangle {
    width: 300px;
    height: 250px;
  }

  .options {
    display: flex;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    flex-direction: row;
    background-color: #325DFF;
    justify-content: space-between;
    align-items: flex-end;
  }

  &:hover > .options {
    max-height: 100px;
    transition: max-height 0.5s ease-in;
    opacity: 1;
  }

  .arrows {
    display: flex;
    cursor: pointer;
    color: #fff;
    padding: 3px;
  }
}
