.self {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1px solid #D7D7D7;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);

  &.leaderboard {
    width: 728px;
    height: 90px;
  }

  &.rectangle {
    width: 300px;
    height: 250px;
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .arrows {
    display: flex;
    cursor: pointer;
    padding: 3px;
    border-left: 1px;
    border-top: 1px;
    border-style: solid;
    border-color: #D7D7D7
  }
}
