.menu {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #D7D7D7;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: rgba(170, 170, 170, .5);
}
