.self {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;

  .details {
    display: flex;
    background-color: #F3F6F8;
    flex: 1;
  }

  .details > .summary {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

  .side-menu {
    list-style: none;

    li {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    & > li.active {
      color: #325DFF;
    }

    & > li:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .sub-menu {
    list-style: none;
    font-weight: normal;
    color: #000;
    
    & > li:hover {
      font-weight: bold;
    }

    & > li.active {
      color: #325DFF;
    }
  }
}