@import '~@linkexchange/components/styles/colors';

.self {
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 15px 40px 0px rgba(27, 36, 55, 0.1);
  transition: all 0.15s ease;
  transition-property: box-shadow transform;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 20px 50px 0px rgba(27, 36, 55, 0.2);
  }

  &.leaderboard {
    width: 728px;
    height: 90px;
    flex-direction: row;

    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }

  &.rectangle {
    width: 300px;
    height: 250px;
    flex-direction: column;

    .link,
    .no-links {
      padding: 15px;
    }
  }

  .link-container {
    flex: 1;
    overflow: hidden;
    transition: transform 0.15s ease-in-out;

    .transition,
    .transition-left {
      &-enter {
        transform: translateX(100%);
        &-active {
          transform: translateX(0%);
          transition: transform 300ms ease-out;
        }
      }

      &-leave {
        position: absolute;
        top: 0;
        width: 100%;
        transform: translateX(0%);

        &-active {
          transform: translateX(-100%);
          transition: transform 300ms ease-out;
        }
      }
    }

    .transition-left {
      &-enter {
        transform: translateX(-100%);
        &-active {
          transform: translateX(0%);
        }
      }

      &-leave {
        transform: translateX(0%);

        &-active {
          transform: translateX(100%);
        }
      }
    }
  }

  &.right {
    .link-container {
      transform: translateX(-8px);
    }
  }

  &.left {
    .link-container {
      transform: translateX(8px);
    }
  }

  .link,
  .no-links {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 10px;
  }

  .no-links {
    flex: 1;
    align-items: center;
  }

  .arrows {
    margin-left: auto;
    align-self: center;
    fill: #9ca4af;
    user-select: none;

    .left,
    .right {
      cursor: pointer;
      padding: 4px;

      &:hover {
        fill: #263fff;
      }
    }

    &.disabled {
      .left,
      .right {
        cursor: not-allowed;

        &:hover {
          fill: #9ca4af;
        }
      }
    }

    .left {
      padding-right: 0;
      margin-right: 3px;
    }

    .right {
      padding-left: 0;
    }
  }
}
