.self {
  width: 100%;

  * {
    box-sizing: border-box;
  }
}

.container {
  width: 1080px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 20px;
}

.header {
  font-size: 18px;
  line-height: 23px;
  color: #1b2437;
  font-weight: normal;
  margin: 0;
}

.counter {
  color: #263fff !important;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header > .counter {
  margin-left: 20px;
}

.head + .body {
  border-top: 1px solid #eef1f2;
}
