.self {
  height: 100%;
  padding-top: 20px;
  position: relative;

  .row {
    display: flex;
    flex-direction: row;
  }

  .qr {
    width: 20px;
    height: 20px;

    .canvas {
      width: inherit;
      height: inherit;

      &:hover {
        position: absolute;
        width: 100px;
        height: 100px;
      }
    }
  }
}