.self {
  height: 100%;
  padding-top: 20px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .qr {
    position: relative;
    width: 20px;
    height: 20px;

    .canvas {
      width: 100%;
      height: 100%;

      &:hover {
        position: absolute;
        width: 100px;
        height: 100px;
      }
    }
  }
}