@import '~@userfeeds/apps-components/styles/colors';

.Head {
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(19, 38, 110, 0.08);
  padding: 20px;
  z-index: 1;
}

.UpperHead {
  display: flex;
  align-items: center;

  @media screen and (max-width: 800px) {
    flex-wrap: wrap;

    .Summary {
      flex-basis: calc(100% - 60px);
      max-width: calc(100% - 60px);
      padding-right: 0;
    }

    .NewButtonContainer {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

.LowerHead {
  border-top: 1px solid #eef1f2;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.UpperHead + .LowerHead {
  margin-top: 20px;
}

.Logo {
  flex-basis: 40px;
  max-width: 40px;
  height: 40px;
}

.HeaderContainer {
  display: flex;
  align-items: center;
}

.Header {
  margin: 0;
  font-size: 22px;
  color: #1b2437;
}

.Logo + .Summary {
  margin-left: 20px;
}

.Summary {
  padding-right: 20px;
  box-sizing: border-box;
}

.Header + .NewWindowButton {
  margin-left: 10px;

  @media screen and (max-width: 800px) {
    margin-left: auto;
  }
}

.NewButtonContainer {
  margin-left: auto;
  flex-shrink: 0;
}

.SummaryField {
  flex: 25% 1 1;
  max-width: 25%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;

  & + .SummaryField {
    border-left: 1px solid #eef1f2;
  }

  @media screen and (max-width: 1000px) {
    flex-basis: 50%;
    max-width: 50%;
    border-left: 0;

    &:nth-child(2n) {
      border-left: 1px solid #eef1f2;
    }
  }
}

.InnerSummaryField {
  line-height: 23px;
  color: #a6aeb8;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.RegularText {
  color: #1b2437;
}

.BigScreenDescription,
.SmallScreenDescription {
  color: #89939f;
}

.BigScreenDescription {
  display: block;
  margin-top: 4px;

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.SmallScreenDescription {
  display: none;
  margin-top: 10px;

  @media screen and (max-width: 800px) {
    display: block;
  }
}
