.self {
  width: 100%;

  h1 {
    font-size:32px;
  }

  .paper {
    margin: 20px auto;
    min-width: 400px;
    max-width:660px;
    padding: 30px 50px;
  }

  * {
    box-sizing: border-box;
  }
}
