.self {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .details {
    flex: 1;
    width: 100%;
  }

  .add-link-container {
    position: absolute;
    top: 10px;
    right: 80px;
  }

  .add-link {
    width: 130px;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(9, 213, 124);

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      cursor: pointer;
      box-shadow: 0px 5px 15px rgba(9, 213, 124, 0.45);
      transform: translateY(-1px);
    }
  }
}
